<!-- app/templates/index.html -->
{% extends '_inc.html' %}
{% block title %}Exchange System{% endblock %}
{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-4xl font-bold mb-8">Welcome to Exchange System</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% if not current_user.is_authenticated %}
        <div class="bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 duration-300 ease-in-out">
            <h2 class="text-2xl font-semibold mb-4">Login</h2>
            <p class="text-gray-600">Already have an account? Login now.</p>
            <a href="{{ url_for('login') }}"
                class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Login</a>
        </div>
        
        <div class="bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 duration-300 ease-in-out">
            <h2 class="text-2xl font-semibold mb-4">Create Account</h2>
            <p class="text-gray-600">Don't have an account? Create one now.</p>
            <a href="{{ url_for('register') }}"
                class="mt-4 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">Register</a>
        </div>

   
        {% endif %}
        {% if current_user.is_authenticated %}
        <div class="bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 duration-300 ease-in-out">
            <h2 class="text-2xl font-semibold mb-4">Logout</h2>
            <p class="text-gray-600">Logout from your account? Logout now.</p>
            <a href="{{ url_for('logout') }}"
                class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Logout</a>
        </div>
     

        <div class="bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 duration-300 ease-in-out">
            <h2 class="text-2xl font-semibold mb-4">Transfer Money</h2>
            <p class="text-gray-600">Transfer money to another account.</p>
            <a href="{{ url_for('transfer') }}"
                class="mt-4 bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-700">Transfer</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 duration-300 ease-in-out">
            <h2 class="text-2xl font-semibold mb-4">Deposit Money</h2>
            <p class="text-gray-600">Deposit money to your account.</p>
            <a href="{{ url_for('deposit') }}"
                class="mt-4 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">Deposit Money</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 duration-300 ease-in-out">
            <h2 class="text-2xl font-semibold mb-4">Account Balance</h2>
            <p class="text-gray-600">View your account balance.</p>
            <a href="{{ url_for('balance') }}"
                class="mt-4 bg-purple-500 text-white px-4 py-2 rounded hover:bg-purple-700">Balance</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 duration-300 ease-in-out">
            <h2 class="text-2xl font-semibold mb-4">Transactions</h2>
            <p class="text-gray-600">View  Transactions</p>
            <a href="{{ url_for('transactions') }}"
                class="mt-4 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">View Transactions</a>
        </div>
        {% endif %}
        <div class="bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 duration-300 ease-in-out">
            <h2 class="text-2xl font-semibold mb-4">Convert Currency</h2>
            <p class="text-gray-600">You can con convert from Currency to another</p>
            <a href="{{ url_for('convert_currency') }}"
                class="mt-4 bg-pink-500 text-white px-4 py-2 rounded hover:bg-pink-700">Convert Currency</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 duration-300 ease-in-out">
            <h2 class="text-2xl font-semibold mb-4">Show google Map</h2>
            <p class="text-gray-600">You can see all places of all banks</p>
            <a href="{{ url_for('google_map') }}"
                class="mt-4 bg-pink-500 text-white px-4 py-2 rounded hover:bg-pink-700">Show google Map</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 duration-300 ease-in-out">
            <h2 class="text-2xl font-semibold mb-4">Chat With GPT</h2>
            <p class="text-gray-600">You can chat esially with gpt</p>
            <a href="{{ url_for('get_chat') }}"
                class="mt-4 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">New Chat</a>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md transition transform hover:scale-105 duration-300 ease-in-out">
            <h2 class="text-2xl font-semibold mb-4">See All Avaliable Banks</h2>
            <p class="text-gray-600">You can see all avaliable banks</p>
            <a href="{{ url_for('show_banks') }}"
                class="mt-4 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">Show Banks</a>
        </div>
        
        <!-- Add more services as needed -->
    </div>
</div>

{% endblock %}